body{
  background-color:black;
}
/* https://chromium.googlesource.com/chromium/blink/+/master/Source/core/css/mediaControlsNew.css#89 */
.native_mode{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.theater_mode{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  max-height: 100%;
  width: 100%;
}

#cast_overlay {
  position: absolute;
  top: 10px;
  right: 50px;
}

#theater_overlay {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 28px;
  height: 28px;
  /*background-image:url('/images/ic_aspect_ratio_white_48dp_2x.png');*/
}

#casticonactive {
  margin-bottom:20px;
  width: 32px;
  height: 32px;
  display:none;
  background-image:url('../images/ic_media_route_on_custom.png');
}

#casticonidle {
  margin-bottom:20px;
  width: 32px;
  height: 32px;
  display:none;
  background-image:url('../images/ic_media_route_off_custom.png');
}
